{% extends 'base.html' %}
{% load static %}
{% block content %}


<link rel="stylesheet" type="text/css" href="{% static 'css/imageconvert/style_imageconvert.css' %}">
    <div class="content">
        <!DOCTYPE html>
        <html>
            <div class="ButtonContainer">
                <div class="row">
                    <div class="col">
                        <label class="file-label" for="chooseFile">업로드</label>
                            <input class="file" id="chooseFile"
                              type="file" 
                              onchange="dropFile.handleFiles(this.files)"
                              accept="image/png, image/jpeg, image/gif">

                            <div class="btn-group btn-group-toggle float" data-toggle="buttons">
                            
                            <label class="btn btn-dark">
                                <button type="button" class="btn btn-dark" name = "button" id = "button2"> 변환 </button>
                            </label>
                            <label class="btn btn-dark">
                                <button type="button" class="btn btn-dark"name = "button" id = "button3"> 저장 </button>
                            </label> 
                        </div>
                    </div>
                </div>
            </div>

            <script></script> <!--라디오 버튼 선택시 이미지 경로 잡아주는거 -->

            <body onload="drawImage()">
                <div class="RadioContainer">
                    <div class="row">
                        <div class="col">
                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-dark">
                                    <input type="radio" name="radio" id="radio1"> 모델 1
                                </label>
                                <label class="btn btn-dark">
                                    <input type="radio" name="radio" id="radio2"> 모델 2
                                </label>
                                <label class="btn btn-dark">
                                    <input type="radio" name="radio" id="radio3"> 모델 3
                                </label>

                                
                            </div>
                            
                            <div>                                
                                <div class="upload-box">
                                    <div id="drop-file" class="drag-file">
                                      <img src="https://img.icons8.com/pastel-glyph/2x/image-file.png" alt="파일 아이콘" class="image">
                                      <p class="message">업로드할 이미지를 끌어다 놓으세요</p>
                                      <img src="" alt="미리보기 이미지" class="preview">
                                    </div>
                                  </div>
                            </div>
                            <script>
                                function DropFile(dropAreaId, fileListId) {
                                    let dropArea = document.getElementById(dropAreaId);
                                    let fileList = document.getElementById(fileListId);
                                  
                                    function preventDefaults(e) {
                                      e.preventDefault();
                                      e.stopPropagation();
                                    }
                                  
                                    function highlight(e) {
                                      preventDefaults(e);
                                      dropArea.classList.add("highlight");
                                    }
                                  
                                    function unhighlight(e) {
                                      preventDefaults(e);
                                      dropArea.classList.remove("highlight");
                                    }
                                  
                                    function handleDrop(e) {
                                      unhighlight(e);
                                      let dt = e.dataTransfer;
                                      let files = dt.files;
                                  
                                      handleFiles(files);
                                  
                                      const fileList = document.getElementById(fileListId);
                                      if (fileList) {
                                        fileList.scrollTo({ top: fileList.scrollHeight });
                                      }
                                    }
                                  
                                    function handleFiles(files) {
                                      files = [...files];
                                      // files.forEach(uploadFile);
                                      files.forEach(previewFile);
                                    }
                                  
                                    function previewFile(file) {
                                      console.log(file);
                                      renderFile(file);
                                    }
                                  
                                    function renderFile(file) {
                                      let reader = new FileReader();
                                      reader.readAsDataURL(file);
                                      reader.onloadend = function () {
                                        let img = dropArea.getElementsByClassName("preview")[0];
                                        img.src = reader.result;
                                        img.style.display = "block";
                                      };
                                    }
                                  
                                    dropArea.addEventListener("dragenter", highlight, false);
                                    dropArea.addEventListener("dragover", highlight, false);
                                    dropArea.addEventListener("dragleave", unhighlight, false);
                                    dropArea.addEventListener("drop", handleDrop, false);
                                  
                                    return {
                                      handleFiles
                                    };
                                  }
                                  
                                  const dropFile = new DropFile("drop-file", "files");
                            </script>
                            
                            <div>
                                
                                <label class="btn btn-dark">
                                    <button type="button" class="btn btn-dark" name = "button" id = "button4"> 굿즈 생성 </button>
                                    
                                    
                            </div>
                        </div>
                    </div>
                </div> 
            </body>
        </html>
    </div>
{% endblock %}
