{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link href="{% static 'css/main/style_mydesign.css' %}" rel="stylesheet">
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-md-4 bd-sidebar">
                <div class="bd-sidebar-body">
                    <ul class="nav">
                        <li><a href="/profiles/mydesign" class="btn btn-lg mt-5" role="button">나의 디자인</a></li>
                        <li><a href="#" class="btn btn-lg mt-5" role="button">개인 정보 수정</a></li>
                    </ul>
                </div>
            </div>
            <div id="designList" class="col-md-8 py-md-3 pl-md-5 bd-content" role="main">
                <div class="container row justify-content-center">
                    {% for i in "x"|rjust:"20" %}
                        <div class="col-sm-3 mb-5">
                            <div class="card" style="width: 100%;">
                                <div class="embed-responsive embed-responsive-4by3">
                                    <a href="#">
                                        <img href="#" class="card-img-top embed-responsive-item" src="{% static 'img/cat.jpg' %}" alt="cat" width="75">
                                    </a>
                                </div>
                                <div class="card-body">
                                    <a class="card-title h4" href="#">제목</a>
                                    <ul class="navbar-nav ml-auto">
                                        <li class="card-user">작성자</li>
                                        <li class="card-date">일시</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li> {# active: 현재 페이지 활성화 시키기 #}
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}