.content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
}
 
.content .container{
    position: relative;
    max-width: 430px;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.container .forms{
    display: flex;
    align-items: center;
    height: 440px;
    width: 200%;
}


.container .form{
    width: 50%;
    padding: 30px;
    background-color: #fff;
}

.container.active .forms{
    height: 720px;
}
.container .form .title{
    position: relative;
    font-size: 27px;
    font-weight: 600;
}

.form .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background-color: #4070f4;
    border-radius: 25px;
}

.form .input-field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 30px;
}

.input-field input{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 35px;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
    transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid){
    border-bottom-color: #198754;
}

.input-field .id-already{
    position: absolute;
    top: 100%;
    color: #f14438;
}

.input-field i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 23px;
    transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid) ~ i{
    color: #4070f4;
}

.input-field i.icon{
    left: 0;
}

.form .checkbox-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.checkbox-text .checkbox-content{
    display: flex;
    align-items: center;
}

.checkbox-content input{
    margin-right: 10px;
    accent-color: #4070f4;
}

.form .text{
    color: #333;
    font-size: 14px;
}

.form a.text{
    color: #4070f4;
    text-decoration: none;
}
.form a:hover{
    text-decoration: underline;
}

.form .button{
    margin-top: 35px;
}

.form .button input{
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 6px;
    background-color: #4070f4;
    cursor: pointer;
    transition: all 0.3s ease;
}

.input:hover{
    background-color: #265df2;
}

.form .login-signup{
    margin-top: 30px;
    text-align: center;
}

.profile{
    position: relative;
    max-width: 44vw;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 10px;
    height: 70vh;
    margin: 0 auto;
}

.profile .title {
    margin: 20px;
}

.btn > a {
    color: #ffffff;
    text-decoration: none;
}

.profile .user {
    display: flex;
    height: 40%;
    margin: 15px 0 40px 0;
    align-items: center;
    justify-content: center;
}

.profile .user .user-image{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    border-right: #999 solid 1px;
    width: 30%;
}

.profile .user .user-image img{
    width: 80%;
    border-radius: 20px;
}

.profile .user .user-image button{
    margin-bottom: 10px;
}

.profile .user .user-detail{
    width: 70%;
    padding: 20px;
}

.profile .user .user-detail .user-introduce{
    height: 50%;
    margin: 10px 0;
    padding: 8px;
    border-radius: 2px;
    border: #ccc solid 1px;
}

.profile .user .user-detail button{
    position: absolute;
    right: 30px;
}

.profile-update {
    margin: 20px;
}

.profile-update .user-image {
    height: 40%;
    margin: auto;
}


.profile-update .user-detail {
    width: 100%;
}

.account .tap {
    font-size: 20px;
    margin: 20px;
    display: flex;
    height: 7%;
    border-bottom: 1px solid #ccc;
}

.account .name {
    width: 25%;
    margin-left: 5%;
}

.account .buttons {
    display: flex;
    justify-content: end;
}

.buttons .btn {
    margin-right: 20px;
}

/* profile-update */

.profile-update .profile-img {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.profile-update .profile-img #preview{
    width: 150px;
    height: 150px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.profile-update .profile-img #image{
    margin-left: 40px;
}

.profile-update .user-detail .user-introduce {
    margin: 20px 0px;
    padding-top: 30px;
    border-top: 1px solid #ccc;
}

.profile-update .user-detail .user-introduce textarea {
    width: 100%;
    margin: 20px auto 5px;
    padding: 10px;
    height: 25%;
    resize: none;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline-color: #4070f4;
}

.profile-update .user-detail .btn {
    float: right;
}

.account-update {
    margin: 20px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.account-update label {
    font-size: 28px;
}

.account-update input {
    height: 50px;
    margin-bottom: 12px;
    padding: 12px;
    outline-color: #4070f4;
    border: none;
    border-bottom: 2px solid #ccc;
}

.account-update .disabled{
    border: none;
    outline: none;
    background-color: rgb(231, 231, 231);
    border-radius: 6px;
}

.profile .button-group .btn {
    float: right;
    margin-left: 10px;
}

.social {
    margin: 2rem 2rem 4rem;
}

.social .button {
    margin: 4px;
}