{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/accounts.css' %}">
<link rel="stylesheet" href="{% static 'css/checkbox.css' %}"> 
<link rel="stylesheet" href="{% static 'css/main/style_mydesign.css' %}">
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-6 bd-sidebar">
            <div class="bd-sidebar-body">
                <ul class="nav">
                    <li><a href="/profiles/mydesign" class="btn btn-lg mt-5" role="button">나의 디자인</a></li>
                    <li><a href="{% url 'accountsapp:detail' user.pk %}" class="btn btn-lg mt-5" role="button">개인 정보 수정</a></li>
                </ul>
            </div>
        </div>
        <div class="profile">
            <h2 style="margin: 20px;">회원탈퇴</h2>
            <div class="card-body">
                <form method="POST" novalidate>
                    {% csrf_token %}
                    <p class="fs-5 my-3">인생굿즈에서 <strong>{{ user.name }}</strong> 회원님의 계정이 삭제됩니다.<br>탈퇴시 개인정보 및 이용정보가 삭제되며 복구할 수 없습니다. <br>본인의 비밀번호를 입력한 후 하단의 유의사항 동의에 체크하세요.</p>
                    <div class="my-2 md-form">
                        <label name="label_password" for="{{ password_form.password.id_for_label }}"><i
                                class="fas fa-lock"></i>&nbsp;&nbsp;{{ form.password.label }}</label>
                        {{ form.password }}
                        {% if form.password.errors %}
                        <script type="text/javascript">
                            document.getElementsByName('password')[0].setAttribute('class',
                                'form-control is-invalid')
                        </script>
                        {% for error in form.password.errors %}
                        <div class="invalid-feedback" style="margin: 0px 0px -2px 4px">
                            {{ error }}
                        </div>
                        {% endfor %}
                        {% endif %}
                        <small style="margin-left: 4px; margin-top:8px; margin-bottom: 30px;" class="form-text text-muted">
                            본인인증을 위해 비밀번호를 입력해주세요.
                        </small>
                    </div>

                    <label>
                        <input type="checkbox" name="ck" onClick="checkDisable(this.form)">
                        <span style="color:#d14040f2; font-weight: bold;">유의사항 동의</span>
                    </label>
                    <div style="text-align: center; margin: 10px 0px;">
                        <p style="color:gray; margin-bottom: 10px;">{{ user.name }} 계정이 삭제됩니다.</p>
                        <a href="{% url 'accountsapp:detail' user.pk %}" class="btn btn-secondary" id="back_btn">돌아가기</a>
                        <button type="submit" class="btn btn-danger" name="bt" id="detail_btn" disabled="true">탈퇴하기</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    function checkDisable(form) {
        if (form.ck.checked == true) {
            form.bt.disabled = false;
        } else {
            form.bt.disabled = true;
        }
    }
</script>
{% endblock %}