{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
    <form method="post" class="text-center border border-light p-5">
        {% csrf_token %}
        <p class="h4 mb-4">회원 가입</p>
        <div class="form-group">
            <input type="email" name="email" id="inputEmail" class="form-control"
                   placeholder="Email address" required autofocus>
        </div>
        <div class="form-group">
            <input type="text" name="username" id="inputUsername" class="form-control"
                   placeholder="UserID(아이디)" required>
        </div>
        <div class="form-group">
            <input type="text" name="name" id="inputName" class="form-control"
                   placeholder="UserNM(성명)" required>
        </div>
        <div class="form-group">
            <input type="password" name="password1" id="inputPassword1" class="form-control"
                   placeholder="Password" required>
        </div>
        <div class="form-group">
            <input type="password" name="password2" id="inputPassword2" class="form-control"
                   placeholder="Confirm password" required>
        </div>
        {% for field in registration_form %}
            <p>
                {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
            </p>
        {% endfor %}
        {% if registration_form.non_field_errors %}
            <div style="color: red">
                <p>{{ registration_form.non_field_errors }}</p>
            </div>
        {% endif %}
        <button class="btn btn-primary btn-block" type="submit">Register</button>
    </form>
</div>
{% endblock %}