{% load static %}

{% static 'img/social/btnG.png' as naver_button %}
{% static 'img/social/btnW.png' as naver_button_hover %}
{% static 'img/social/kakao.png' as kakao_button %}
{% static 'img/social/kakaoh.png' as kakao_button_hover %}

{% load i18n %}
{% load account socialaccount %}
{% get_providers as socialaccount_providers %}
<div class="social">
    <h4>소셜로그인</h4>
    <div class="d-flex mb-4 justify-content-around">
        {% for provider in socialaccount_providers %}
            {% if provider.name == "Naver" %}
                <div class="button">
                    <a href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">
                        <img src="{{ naver_button }}" height="40">
                </div>
            {% elif provider.name == "Kakao" %}
                <div class="button">
                    <a href="{% provider_login_url 'kakao' method='oauth2' %}">
                        <img src="{{ kakao_button }}" height="40">
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>