{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link href="{% static 'css/main/style_main.css' %}" rel="stylesheet">
    <div id='main_title' class="row justify-content-between">
        <div class="col-lg-3 col-sm-12 text-lg-start">
            미리보기
        </div>
        <div class="col-lg-6 col-sm-12 text-lg-end">
            <button id="plus_button" class="btn btn-outline-primary btn-lg" type="button" onclick="location.href='/article/'">더보기</button>
        </div>
    </div>
    {% if postlist %}
        <div class="row">
            {% for post in postlist %}
                <div class="col-3">
                    <div class="card shadow-sm">
                        <div id="carouselSlides" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                {% for image in post.postimage.all %}
                                    <div class="carousel-item {% if forloop.counter == 1 %} active {% endif %}" data-bs-interval="3000">
                                        <a href="{% url 'articleapp:DetailPost' post.Board_id %}">
                                            <img class="d-block w-100 card-img-top bd-placeholder-img" width="100%" height="256" role="img" src="{{ image.Board_image.url }}">
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="card-body">
                            <p class="card-title h4" href="{% url 'articleapp:DetailPost' post.Board_id %}">{{ post.Board_title }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <h5 style="text-align: center; font-size: 30px;">작성된 게시글이 없습니다.</h5>
    {% endif %}
{% endblock %}