{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link href="{% static 'css/main/style_main.css' %}" rel="stylesheet">
    <div id='maintitle' class="row">
        <div class="col-lg-6 col-sm-12 text-lg-start text-center">
            미리보기
        </div>
        <div class="col-lg-6 col-sm-12 text-lg-end">
            <button id="plus_button" class="btn btn-outline-primary btn-lg" type="button" onclick="location.href='/article/'">더보기</button>
        </div>
    </div>
    <div id="preview" class="justify-content-center">
        <div class="row">
            {% if postlist %}
                {% for post in postlist %}
                    <div class="col-sm-4 mb-5">
                        <div class="card" style="width: 50%;">
                            <div class="embed-responsive embed-responsive-4by3">
                                {% for image in post.postimage_set.all %}
                                    <div class="carousel-item {% if forloop.counter == 1 %} active {% endif %}">
                                        <a href="{% url 'articleapp:DetailPost' post.Board_id %}">
                                            <img class="card-img-top embed-responsive-item" src="{{  image.Board_image.url }}" alt="" width="200" height="200">
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="card-body">
                                <a class="card-title h4" href="{% url 'articleapp:DetailPost' post.Board_id %}">제목: {{ post.Board_title }}</a>
                                <ul class="navbar-nav ml-auto">
                                    <li class="card-user">작성자: {{ post.Board_writer.nickname }}</li>
                                    <li class="card-date">일시: {{ post.Board_datetime }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <h5 style="text-align: center; font-size: 30px;">작성된 게시글이 없습니다.</h5>
            {% endif %}
        </div>
    </div>
{% endblock %}