{% extends 'base.html' %}
{% block content %}
    <form action="" method="post" enctype="form-data">
        {% csrf_token %}
        <div style="background-color: #00ddff; border-radius: 0.75rem; margin: 1.75rem" class="left-box">
            <table>
                <tr>
                    <td><pre></pre></td>
                    <div class="right-box">
                        <button class="btn btn-primary" type="button" onclick="location.href='/article/create'" style="float:right;">글쓰기</button>
                    </div>
                </tr>
                <tr>
                    <div>
                        <td>&nbsp;카테고리</td>
                    </div>
                    
                </tr>
            </table>
            <table>
                <tr>
                    <div>
                        <td>&nbsp;공구여부&nbsp;</td>
                        <td>
                            <input type="radio" name="share" value="yes"> 희망&nbsp;&nbsp;
                        </td>
                        <td>
                            <input type="radio" name="share" value="no"> 비희망&nbsp;&nbsp;
                        </td>
                    </div>
                </tr>
            </table>
            <table>
                <tr>
                    <div>
                        <td>&nbsp;굿즈종류&nbsp;</td>
                        <td>
                            <input type="checkbox" name="grip_tok" value="grip_tok"> 그립톡&nbsp;&nbsp;
                        </td>
                        <td>
                            <input type="checkbox" name="desktop" value="desktop"> 바탕화면&nbsp;&nbsp;
                        </td>
                        <td>
                            <input type="checkbox" name="key_ring" value="key_ring"> 키링&nbsp;&nbsp;
                        </td>
                        <td>
                            <input type="checkbox" name="t-shirt" value="t-shirt"> 티셔츠&nbsp;&nbsp;
                        </td>
                        <td>
                            <input type="checkbox" name="phone_case" value="phone_case"> 핸드폰케이스&nbsp;&nbsp;
                        </td>
                    </div>
                    <div class="right-box">
                        <button class="btn btn-primary" type="submit" onclick="location.href='#'" style="float:right;">검색</button>
                    </div>
                </tr>
            </table>
            <table><tr><pre></pre></tr></table>
        </div>
    </form>
    <div width="300" class="MainGrid__StyledGrid-sc-1u1dl1e-0 gHAcDL styled-grid">
        <div class="row g-3">{% comment %} 데이터베이스 연결 후 for문 삭제{% endcomment %}
            {% for table_data in "x"|rjust:"8" %}
                <div class="col-sm-3 mb-2">
                    <a class="d-block pe-lg-4 text-decoration-none lh-sm" href="/docs/5.3/components/alerts/#javascript-behavior">
                        <div style="background-color: #00ddff; border-radius: 1rem; margin: 1rem">
                            <a href="#">
                                <pre><img src="/static/img/cat.jpg" width="99%" height="57%"></pre>
                                <pre><cite>제목</cite></pre>
                            </a>
                            <div class="user">
                                <a class="userinfo" href="#">by<cite> user</cite></a>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %} 

