<script>
    let ImageId = 0
    function addImage(){
        const ImageModule = document.getElementById('image');
        const newNode = ImageModule.cloneNode(true);
        
        ImageId++;
        console.log(ImageId);
        newNode.id = 'image'+ImageId;
        ImageModule.after(newNode);
        newNode.getElementsByClassName('h_btn')[0].style.display='block';
        newNode.getElementsByClassName('h_btn')[0].id = 'h_btn' + ImageId;
        if(ImageId >= 3){
            document.getElementsByClassName('p_btn')[0].style.display='none';
        }else{
            document.getElementsByClassName('p_btn')[0].style.display='block';
        }
    }
    function removeImage(btn_id){
        const id = document.getElementById(btn_id);
        parent = id.parentNode.parentNode;
        parent.remove();
        ImageId--;
        console.log(ImageId);
        if(ImageId >= 3){
            document.getElementsByClassName('p_btn')[0].style.display='none';
        }else{
            document.getElementsByClassName('p_btn')[0].style.display='block';
            document.getElementsByClassName('p_btn')[0].hide()
        }
    }
</script>
{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/article.css' %}">
<form method='post' action="" enctype="multipart/form-data" style=''>
    {% csrf_token %}
    <div class='b_info'>
        <hr />
        <ul>공유 게시판 > 글쓰기</ul>
        <hr />
    </div>
    <div class='table-responsive'>
        <table>
            <tr>
                <th class='thst' height=36px;>공구여부</th>
                <td colspan="2" width=700px;>{{ post_form.Board_share }}</td>
            </tr>
            <tr>
                <th rowspan="2" class='thst' height=36px;>굿즈종류</th>
                <td colspan="2" width=700px;>{{ post_form.Board_gtype}}</td>
            </tr>
            <tr>
                <td colspan="2" width=700px>
                {% if post_form.Board_gtype.errors %}
                    <span style="color:red;}">{{post_form.Board_gtype.errors}}</span>
                {% endif %}</td>
            </tr>
            <tr>
                <th class='thst' height=36px;>제목</th>
                <td colspan="2" width=700px>{{ post_form.Board_title }}</td>
            </tr>
            <tr>
                <th class='thst'>내용</th>
                <td colspan="2" width=700px>{{ post_form.Board_content }}</td>
            </tr>
            <tr id = 'image'>
                <th class='thst' height=36px;>이미지 첨부</th>
                <td width=600px>
                {{ post_imageform.Board_image }}</td>
                <td width=100px>
                <input class='h_btn' type="button" value="이미지 삭제" onclick="removeImage(this.id)">
                </td>
            </tr>
            <tr>
                <th class='thst'></th>
                <td colspan="2" width=700px><input class='p_btn' type="button" value="이미지 추가" onclick="addImage()"></div></td>
            </tr>
            <tr>
                <th class='thst' height=36px;></th>
                <td colspan="2" width=700px><div style='float : right;'><input class="btn btn-primary" type='submit' value='저장'></div></td>
            </tr>
        </table>
    </div>
</form>
{% endblock %}